.seccion-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(45, 44, 44, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-menu li a {
    text-decoration: none;
    color: rgba(251, 246, 246, 0.8);
    font-size: 15px;
    font-weight: 500;
    border: solid 1px rgb(31, 73, 239);
    padding: 8px;
    border-radius: 8px;
}
.logo img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: solid 2px rgb(31, 73, 239);
}
.carrito {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: azure;
}
.botones-carrito-buscar {
    background-color: rgba(250, 247, 247, 0.227);
    border-radius: 12px;
    border-bottom: solid 3px rgb(31, 73, 239);
}
.avatar {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: azure;
}